fastapi
uvicorn[standard]
requests
pydantic-settings
elevenlabs
ffmpeg-python
runwayml
httpx
openai
Pillow
torch
diffusers[torch]
scipy
numpy
torchsde
face_recognition
opencv-python
transformers
python-multipart